body {
    background-color: rgb(245, 245, 245);
    margin: 0;
}

div {
    margin: 0;
}

.noscript-container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.noscript-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    color: rgb(150, 0, 0);
    font-size: 3.5vw;
    text-align: center;
}

.initializing-container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.initializing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    color: rgb(15, 15, 15);
    font-size: 7.5vw;
    text-align: center;
}

.sign-in-container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.google-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    border-width: 0;
    background: white;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    padding: 0;
}

.google-button-icon {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0 8px 8px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
}

.google-button-text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto', arial, sans-serif;
}